@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Lato:wght@300&display=swap");
@import url("https://use.typekit.net/jjj7yqe.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: futura-pt, sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #f2f2f2;
}
:root {
  --dark: #000;
  --light: #606b8a;
}
.introAnimation {
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5000;
}
.page-select {
  position: fixed;
  width: 5px;
  right: 5%;
  bottom: 10%;
}

.page-option {
  margin-bottom: 1rem;
  height: 3rem;
  width: 100%;
  background-color: rgb(187, 187, 187);
}

.selected-page {
  background: var(--dark);
}
.icons {
  position: fixed;
  left: 2.5%;
  bottom: 8%;
  opacity: 0;
}
.icons::after {
  position: absolute;
  background: var(--dark);
  content: "";
  height: 100%;
  width: 2px;
  left: 45%;
  bottom: -100%;
}
.icons a {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  transition: all ease 0.3s;
  color: var(--dark);
}

.icons a:hover {
  transform: translateY(-20%);
  cursor: pointer;
  color: var(--light);
}

.outer-container {
  position: fixed;
  height: 8vh;
  min-height: 90px;
  top: 0;
  padding: 0 2.5%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
  z-index: 1000;
}
html {
  overflow-x: hidden;
}
.inner-container {
  width: 1400px;
  margin: 0 auto;
}

.side-menu {
  width: 50px;
  height: 50px;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2000;
  background: transparent;
  transition: all 0.3s ease;
  color: #f2f2f2;
}
.side-menu:focus {
  outline: none;
  border: 1px solid var(--light);
}
.side-menu:hover {
  cursor: pointer;
}
.line {
  height: 2px;
  width: 80%;
  background: var(--dark);
  transition: all 0.4s ease;
  margin-bottom: 5px;
  position: relative;
  z-index: 2500;
}
.line2 {
  width: 80%;
  height: 2px;
  position: relative;
  background: var(--dark);
  transition: all 0.3s ease;
  z-index: 2500;
}
.closeBtn {
  margin-bottom: -2px;
  transform: rotate(45deg);
}
.closeBtn2 {
  transform: rotate(-45deg);
  margin-bottom: 0;
}
.hidden {
  overflow: hidden;
}
#navBar {
  z-index: 1000;
}
nav {
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #f2f2f2;
}

nav li {
  display: inline-block;
  padding: 0 1rem;
}

.link {
  color: black;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -5%;
  height: 1px;
  width: 0%;
  background-color: var(--dark);
  transition: all 0.3s ease-in-out;
}
.link:hover::after {
  width: 110%;
}
.nav-animation {
  transform: translateY(-600%);
}
/* .selected::after {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--dark);
} */

.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 5rem;
}
.hero-btn {
  margin-top: 3rem;
}
.hero-text {
  width: 80%;
  position: relative;
}

.hero-text::after {
  content: "";
  position: absolute;
  left: 40%;
  top: -10%;
  width: 100%;
  height: 170%;
  background-color: #f8f8f8;
  z-index: -1;
  overflow: hidden;
}

.hero-text span {
  font-weight: bolder;
}
.hero-animation {
  overflow: hidden;
}
.hero-animation span {
  transform: translateY(100%);
  display: inline-block;
}
.hero h1 {
  font-weight: normal;
  font-size: 6rem;
  color: var(--dark);
}
.hero-h2 {
  font-size: 4rem;
  font-weight: normal;
  color: #606b8a;
}
.hero p {
  font-size: 3.25rem;

  width: 100%;
  line-height: 1.4;
  font-weight: 300;
}
#hero-link {
  color: #000;
  text-decoration: none;
  font-weight: bolder;
  position: relative;
}

#hero-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: -5%;
  top: 100%;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
#hero-link:hover::after {
  width: 110%;
}

#projects-hero-link {
  color: black;

  margin-top: 5rem;
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
#projects-hero-link::after {
  position: absolute;
  right: -25%;
  top: 5%;
  content: "\2192";
  transition: all 0.2s ease-in-out;
}
#projects-hero-link:hover::after {
  right: -35%;
}

.btn {
  padding: 1rem 2rem;
  /* margin-top: 2rem; */
  display: inline-block;
  background: #f2f2f2;
  color: var(--dark);
  text-decoration: none;
  transition: all 0.2s ease;
  border: 1px solid var(--dark);
}
.btn:hover {
  background: var(--dark);
  color: #fff;
}

#viewProjects {
  opacity: 0;
}
#mobile-resume-btn {
  display: inline-block;
}

/* -----------------------------------------------------------Projects-------------------------------------------------------------- */
.one {
  order: 1;
}
.two {
  order: 2;
}

.three {
  order: 4;
}

.four {
  order: 3;
}

.five {
  order: 5;
}
.six {
  order: 6;
}

.seven {
  order: 8;
}

.eight {
  order: 7;
}

.featuredWork {
  margin-bottom: 15rem;
}

.disabled-link {
}
.disabled-link:hover {
  cursor: not-allowed;
}
.featuredGrid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.featuredGrid h3 {
  font-weight: normal;
}
.techUsed {
  text-align: right;
}
.techUsed li {
  list-style: none;
}
.featured-link {
  margin-top: 2rem;
  display: inline-block;
}
.phoneGrid {
  margin: 5rem 0 10rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.phoneGrid img {
  border-radius: 10px;
}

.fullImg {
  width: 80%;
  margin: 5rem auto;
  display: block;
}
.techUsedProjects h3 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.techUsedProjects ul {
  margin-bottom: 2rem;
}
.techUsedProjects li {
  list-style: none;
}
#work h2 {
  margin-top: 5rem;
  position: relative;
  display: inline-block;
  font-weight: normal;
}

#work h2::after {
  position: absolute;
  content: "";
  width: 300%;
  height: 1px;
  background-color: var(--dark);
  left: 110%;
  top: 50%;
}
.projects-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 5rem;
}
.img-left,
.img-right {
  position: relative;
  width: 100%;

  min-height: 500px;
}
.img-left img,
.img-right img {
  width: 85%;
  position: absolute;
  z-index: 2;
}

.project-title {
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.project-link {
  margin-right: 1rem;
}

.description {
  width: 75%;
  margin-bottom: 1rem;
}
/* -----------------------------about------------------------------- */

#about {
  margin: 20rem 0;
  position: relative;
}

#about img {
  width: 40%;
  height: auto;
  position: relative;
}

#about img::after {
  content: "";
  position: absolute;
  background: "green";
  width: 100%;
  height: 100%;
  left: -50%;
}

#about h2 {
  position: absolute;
  top: 5%;
  right: 0;
  font-size: 1.5rem;
  font-weight: normal;
}

#about h2::after {
  position: absolute;
  content: "";
  width: 300%;
  height: 1px;
  background-color: var(--dark);
  right: 110%;
  top: 50%;
}
.about-me {
  position: absolute;
  right: 0;
  top: 20%;
  height: 80%;
  background: #f8f8f8;
  width: 65%;
  padding-left: 4rem;
  padding-top: 4rem;
  z-index: 5;
}
.about-me {
  font-size: 1.2rem;
}

/* ------------------------------------------footer----------------------------- */

footer {
  display: grid;
  padding-bottom: 10rem;
  grid-template-columns: 1fr 1fr;
}

footer h2 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.contact-details a {
  color: #8a8a8a;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1rem;
}
.form-title {
  font-weight: normal;
  font-size: 2rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: repeat(3, 1fr);
}
.contact-form label {
  margin-bottom: 1.5rem;
}
.contact-form input,
.contact-form textarea {
  display: block;
  border: none;
  width: 80%;
  padding-top: 0.5rem;
  background: #f2f2f2;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #adadad;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-bottom: 2px solid var(--dark);
  outline: none;
}

.contact-form button {
  background: none;
  border: none;
  width: 5rem;
  font-size: 1.5rem;
}

.contact-form button:hover {
  cursor: pointer;
}

.lower-footer {
  display: none;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid var(--dark);
}
.lower-footer a {
  color: var(--dark);
  display: inline-block;
  font-size: 2rem;
}
.lower-footer a:nth-child(2) {
  margin: 0 1rem;
}
/* footer a @media(max-width: 1500px) {
  .inner-container {
    width: 1000px;
  }
  html {
    font-size: 14px;
  }
} */

.mobile-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 0%;
  color: transparent;
  background: var(--dark);
  transition: all 0.3s ease-out;
  text-align: center;
}
.mobile-menu ul {
  margin-top: 5rem;
}

.mobile-menu li {
  list-style: none;
}
.mobile-menu a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-top: 3rem;
  font-size: 1.8rem;
  z-index: 9000;
}
.white {
  background-color: #fff;
}
.dark {
  background-color: var(--dark);
}
.open {
  width: 80%;
}
.shadow {
  box-shadow: grey 0px 0px 0px;
}

/* -----------------------------------Media-------------------------------------- */
@media (min-width: 4000px) {
  .inner-container {
    width: 2500px;
  }
  html {
    font-size: 30px;
  }
}

@media (min-width: 3500px) {
  .inner-container {
    width: 2000px;
  }

  html {
    font-size: 25px;
  }

  .img-left,
  .img-right {
    height: 40vh;
  }

  .img-left .darkBox,
  .img-right .darkBox {
    height: 470px;
  }
}

@media (max-width: 1550px) {
  .inner-container {
    width: 1000px;
  }

  .phoneGrid img {
    width: 30%;
  }
  .about-me {
    top: 10%;
  }
}

@media (max-width: 1200px) {
  .inner-container {
    width: 768px;
  }
  html {
    font-size: 14px;
  }
  footer {
    min-height: 30vh;
  }
  /* .img-left,
  .img-right {
    height: 30vh;
  } */
  #about {
    min-height: 40vh;
  }
  #work {
    min-height: 60vh;
  }
  .hero {
    min-height: 100vh;
  }
  .hero-text {
    width: 100%;
  }
  .about-me {
    top: 20%;
  }
}
@media (max-width: 850px) {
  nav {
    min-height: 4vh;
  }
  .inner-container {
    width: 80%;
  }

  .text-content {
    width: 100%;
  }
  .work-showcase {
    margin-bottom: 3rem;
  }
  .about-me {
    position: static;
    width: 100%;
    padding: 2rem;
  }
  #about img {
    display: block;
    width: 270px;
    margin: 3rem auto 0 auto;
  }
  #about h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
  }
  #about h2::after {
    left: 110%;
    width: 300%;
  }
  footer {
    display: block;
  }
  .hero-text::after {
    height: 120%;
  }

  .projects-grid {
    display: block;
  }
  .img-left,
  .img-right {
    width: 100%;
  }
  .img-left,
  .img-right,
  .text {
    width: 100%;
  }
  .text {
    margin-bottom: 5rem;
  }
  .text p {
    width: 100%;
  }
  .img-left img,
  .img-right img {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .img-left,
  .img-right {
    min-height: 250px;
  }
  .icons {
    display: none;
  }

  .logo {
    padding-bottom: 1rem;
  }
  .desktopMenu {
    display: none;
  }
  .side-menu {
    display: flex;
  }
  .outer-container {
    align-items: center;
  }
  .logo {
    padding: 0;
    font-size: 2rem;
  }

  #about h2::after,
  #work h2::after {
    width: 10rem;
  }
  #about {
    margin: 10rem 0;
  }

  .lower-footer {
    display: block;
  }
  footer {
    padding-bottom: 5rem;
  }

  .hero p {
    font-size: 2rem;
  }
  .phoneGrid {
    display: block;
  }
  .phoneGrid img {
    display: block;
    margin: 2rem auto;
    width: 70%;
  }

  .featuredGrid {
    display: block;
  }

  .featuredGrid h3 {
    margin-bottom: 2rem;
  }

  .techUsed {
    text-align: left;
    margin-top: 2rem;
  }

  .techUsed h3 {
    margin-bottom: 1rem;
  }

  .fullImg {
    width: 100%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 13px;
  }
  .project-display-links a {
    font-size: 1.1rem;
  }
  .description-text h3::after {
    width: 3rem;
  }
}
@media (max-height: 750px) {
  .hero {
    margin-top: 5rem;
  }
}
